.ipynb_checkpoints
__pycache__
.DS_Store
*.egg-info
sandbox
archive
ltximg
dist
techela-x
/lectures/gh-screenshot.el
/assignments/database.org
/solutions/ipython-inline-images/ob-ipython-dbe00480464dd54821ce9bedbbbee081.png
