<!doctype html>
<title>S17 06-364 - Techela in a flask</title>

<h1>S17 06-364 - Techela in a flask</h1>
You registered as {{NAME}} ({{ANDREWID}}) (<a href="/setup">Change registration information</a>)<br>
Your course files are in <a href="/coursedir">{{COURSEDIR}}</a> <br>

<a href="https://github.com/jkitchin/s17-06364/blob/master/syllabus.org">Syllabus</a><br>
<a href="https://github.com/jkitchin/s17-06364/blob/master/course-schedule.org">Course schedule</a>
<br>
<a href="/new">New Notebook</a> (opens in a new browser tab).

<h2> Lectures </h2>

<ul>
{% for label, status in lectures %}
<li><a href="/lecture/{{ label }}">{{ label }}</a> ({{ status | safe}})</li>
{% endfor %}
</ul>


<h2>Assignments</h2>
<ul>
  {% for label, path, status, duedate, turnedin in assignments4templates %}
  <li><a href="/assignment/{{ label }}">{{ path }}</a> ({{ status | safe }}) Due: {{duedate}}  <a href="/submit/{{ label }}">Submit</a> Turned in: {{turnedin}} </li>
  {% endfor %}
</ul>

