<!doctype html>
<title>S17 06-364 - Techela in a flask</title>
<head>
<style>
  table, th, td {
  padding: 5px;
  border-collapse: collapse;
    border: 1px solid black;
}
</style>
</head>


<h1>S17 06-364 - Roster</h1>

<table border=1>
  <tr>
    <td>Name</td>
    <td>email</td>
    <td>Gradebook</td>
  </tr>
  {% for d in roster[1:] %}
  <tr>
    <td> {{ d['Preferred/First Name'] }}  {{ d['Last Name'] }} </td>
    <td><a href="mailto:{{d['Email']}}">{{d['Email']}}</a></td>
    <td><a href="\gradebook\{{d['Andrew ID']}}">Gradebook<a/></td>
    </tr>
  {% endfor %}
</table>

